<div ng-show="show.result.isSuccess || show.result.isError" class="messages-panel">
    <div ng-show="show.result.isSuccess" class="alert alert-success">
        <div class="text-center">
            <strong class="big">New user created</strong>
            <hr/>
        </div>
        <strong>Social profile:</strong>
        <ul ng-repeat="(key, val) in show.result.data">
            <li><strong>{{key}}:</strong> {{val}}</li>
        </ul>
    </div>

    <div ng-show="show.result.isError" class="alert alert-danger">
        <div class="text-center">
            <strong class="big">{{show.result.data.message}}</strong>
            <hr/>
        </div>
        <ul ng-repeat="error in show.result.data.errors">
            <li>{{error}}</li>
        </ul>
    </div>
</div>